<h3>Listado de Estudiantes</h3>

<div class="d-flex justify-content-end">
    <button class="btn btn-primary mb-2" (click)="btnAgregarPersona()">Añadir nuevo estudiante</button>
</div>

<!-- Formulario -->
<div class="mt-2 mb-5 d-flex flex-column" *ngIf="verFormulario">
  <form [formGroup]="formPersonas" (ngSubmit)="agregarPersona()">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Nombre y Apellido</label>
          <input type="text" class="form-control" placeholder="Escriba su nombre y apellido" formControlName="nombre_apellido">
          <div *ngIf="formPersonas.get('nombre_apellido')?.invalid && formPersonas.get('nombre_apellido')?.touched">
            <small class="text-danger">Nombre y Apellido es requerido.</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
          <div *ngIf="formPersonas.get('email')?.invalid && formPersonas.get('email')?.touched">
            <small class="text-danger">Email es requerido y debe ser una dirección válida.</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" formControlName="fecha_nacimiento">
          <div *ngIf="formPersonas.get('fecha_nacimiento')?.invalid && formPersonas.get('fecha_nacimiento')?.touched">
            <small class="text-danger">Fecha de Nacimiento es requerida.</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">DNI</label>
          <input type="number" class="form-control" placeholder="Ingrese su número de documento" formControlName="dni">
          <div *ngIf="formPersonas.get('dni')?.invalid && formPersonas.get('dni')?.touched">
            <small class="text-danger">DNI es requerido.</small>
          </div>
        </div>
      </div>
    </div>

    <div class="float-center mt-3">
      <button type="submit" class="btn btn-success me-3">Guardar estudiante</button>
      <button type="button" class="btn btn-danger" (click)="btnCancelar()">Cancelar</button>
    </div>
  </form>
</div>

<!-- Tabla de Datos -->
<table class="table table-hover table-warning mt-2 table-responsive-xl">
  <thead>
    <tr>
      <th scope="col">Nombre y Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">DNI</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of listaPersonas">
      <td>{{ persona.nombre_apellido }}</td>
      <td>{{ persona.email }}</td>
      <td>{{ persona.fecha_nacimiento }}</td>
      <td>{{ persona.dni }}</td>
      <td>
        <button type="button" class="btn btn-warning text-white me-1" (click)="editarPersona(persona)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.207 4l-2-2 1.293-1.293a.5.5 0 0 1 .708 0l1.293 1.293z"/>
            <path d="M13.5 3.207L2 14.707V16h1.293L13.5 4.793l-1.293-1.586z"/>
            <path fill-rule="evenodd" d="M1 13.5V14h1v-1h11V2h-1v11H1z"/>
          </svg>
        </button>
        <button type="button" class="btn btn-danger" (click)="eliminarPersona(persona.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zM4 4V3h8v1H4z"/>
            <path d="M2.5 3h11a.5.5 0 0 1 .5.5V4h-12v-.5A.5.5 0 0 1 2.5 3zm3 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zm1 1v6.5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 1 0zm2 0v6.5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 1 0z"/>
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
